# python
venv/
__pycache__/

# project
site.conf
scons.signatures.dblite
build/
cgame.mp.i386.so
et.x86
etded.x86
qagame.mp.i386.so
ui.mp.i386.so

## libcurl
curl-7.12.2/**/Makefile
curl-7.12.2/**/.deps
curl-7.12.2/**/.libs
curl-7.12.2/**/*.o
curl-7.12.2/**/*.lo
curl-7.12.2/config.log
curl-7.12.2/config.status
curl-7.12.2/curl-config
curl-7.12.2/lib/config.h
curl-7.12.2/lib/libcurl.la
curl-7.12.2/lib/stamp-h1
curl-7.12.2/libtool
curl-7.12.2/packages/EPM/curl.list
curl-7.12.2/packages/Linux/RPM/curl-ssl.spec
curl-7.12.2/packages/Linux/RPM/curl.spec
curl-7.12.2/src/config.h
curl-7.12.2/src/curl
curl-7.12.2/src/hugehelp.c
curl-7.12.2/src/stamp-h2
